* {box-sizing: border-box;}
/* Header ------------------------------------------------------------*/

header{
    display: flex;
    flex-wrap: wrap;
    background-image: url('https://i.pinimg.com/control2/736x/72/e1/75/72e175e702d16ebf00048e0bcc9ce5ff.jpg');
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    width: 100%;
    margin: 0px
}

nav{
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    padding: 15px 0px;
    margin: 0px
}

ul{
    list-style: none;
    display: flex;
    margin: 0px
}

a{
    text-decoration: none;
    color: white;
    justify-content:flex-start;
    flex-direction: row;
    padding: 10px;
    width: 150px
    
}

header img{
    justify-content: center;
    width: 110px;
    margin-left: 0px;
    
}

.buscadorHeader{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('https://i.pinimg.com/control2/736x/72/e1/75/72e175e702d16ebf00048e0bcc9ce5ff.jpg');
    border: none;

}

#buscador{
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 15px;
    padding: 10px 10px;
    border: 2px solid #d3d3d3;
    margin: 5px 0;
}

.submit{
    color: black;
    background-color: white;
    border: 2px solid #d3d3d3;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px 10px; 
}

.error{
    color: white;
    align-items: flex-end;
    font-size: 14px;
    margin: 0%;
    padding: 5px;
    background-color: rgba(96, 211, 109, 0);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: absolute;
}

/* Index ------------------------------------------------------------*/

.info-recetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

article{
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 350px
}

img{
    border-radius: 5px;
    width: 340px
    
}

h1{
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(255, 124, 126);
}

.tituloReceta{
    display: flex;
    font-size: 20px;
}

p a{
   display: flex; 
   font-size: 15px;
}

.cargarMas{
    display: flex;
    text-align: center;
    justify-content: center;
}

form{
    color: black;
    background-color: white;
    border: 2px solid #d3d3d3;
    border-radius: 0px;
    margin-left: 10px;
    margin-right: 15px;
    padding: 5px 5px; 
    justify-content: center;
    text-align: center;
    justify-items: center;
}

/* Receta ------------------------------------------------------------*


/* Category ------------------------------------------------------------*


/* Categorias ------------------------------------------------------------*


/* Search-results ------------------------------------------------------------*/
.search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/*Login ------------------------------------------------------------*/


/* Register ------------------------------------------------------------*